html {
  margin: 0
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: SeaShell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  height: 69px;
  width: 100%;
  display: fixed;
  border-bottom: 1px solid SeaShell;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

#header img {
  margin-left: 10px;
  height: 50px;
  margin-right: auto;
}

#header nav a {
  padding: 10px;
}

.mission {
  display: flex;
  height: 700px;
  width: 90%;
}

.month {
  display: flex;
  width: 1000px;
}
