html {
  margin: 0
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: SeaShell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  width: 1260px;
  margin: 0 auto;
}

/* Header styling */
header {
  height: 69px;
  width: 100%;
  display: fixed;
  border-bottom: 1px solid SeaShell;
  z-index: 1;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

#header img {
  margin-left: 10px;
  height: 50px;
  margin-right: auto;
}

#header nav a {
  padding: 10px;
  color: SeaShell;
}

/* Mission section styling */

#mission {
  display: flex;
  height: 700px;
  width: 1200px;
  margin: 0 auto;
  background-image: url("../images/img-mission-background.jpg");
  flex-direction: column;
  justify-content: center;
}

#mission-text {
  background-color: black;
}

/* Tea of the Month section styling */

#month {
  width: 1000px;
  margin: 0 auto;
}

#month-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.month-entry img {
  width: 300px;
  height: 200px;
}

.month-entry h4 {
  margin-top: 0;
}

#center-top {
  padding: 0 3%;
}

#bottom-left {
  padding-right: 3%;
}

#locations {
  height: 570px;
  width: 1200px;
  margin: 80px 0 auto;
  background-image: url("../images/img-locations-background.jpg");
}

#locations-container {
  height: 570px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#locations-container h2 {
  margin-bottom: 15px;
}

#location-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.location {
  width: 300px;
  background-color: black;
}

#center-loc {
  margin: 0 40px;
}
