html {
  margin: 0
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: SeaShell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  width: 1260px;
  margin: 0 auto;
}

header {
  height: 69px;
  width: 100%;
  display: fixed;
  border-bottom: 1px solid SeaShell;
  z-index: 1;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

#header img {
  margin-left: 10px;
  height: 50px;
  margin-right: auto;
}

#header nav a {
  padding: 10px;
  color: SeaShell;
}

#mission {
  display: flex;
  height: 700px;
  width: 1200px;
  margin: 0 auto;
  background-image: url("../images/img-mission-background.jpg");
  flex-direction: column;
  justify-content: center;
}

#mission-text {
  background-color: black;
}

#month {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#month img {

}
